<style>
table {
    display: table;
    width: 80%;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit
}

tbody tr:nth-child(odd) {
    background: #eee;
}

tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit
}

table > tr {
    vertical-align: middle;
}

col {
    display: table-column
}

colgroup {
    display: table-column-group
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit
}

td {
    display: table-cell;
    vertical-align: inherit;
    text-align: inherit;
    padding: 1px;
}

td, th {
    display: table-cell;
    vertical-align: inherit
}

th {
    font-weight: bold
}

caption {
    display: table-caption;
    text-align: -webkit-center
}
</style>

<table>
    <thead><tr>
        <th>Long Name</th>
        <th>Short Name</th>
        <th>Value</th>
    </tr></thead>
    <tbody>
{% for rec in data %}
<tr>
    <td>{{ rec.long }}</td>
    <td>{{ rec.short }}</td>
    <td>{{ rec.data }}</td>
</tr>
{% endfor %}
</tbody>
</table>
